.login{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  background: url('https://cdn.wallpapersafari.com/80/94/AC21PJ.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
