.login{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  background: url('https://cdn.wallpapersafari.com/80/94/AC21PJ.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  /* margin-top: -25px;
  margin-bottom: 20px; */
}
